{% include 'header.html' %}
<section class="content">
  <div class="page-about container-medium center">
    <h2 class="title-xlarge">
      Greetings, <br />
      Thank you for utilizing the Reponse<br />
      Community.
    </h2>
    <p>
      Reponse. A QnA blockchain service which provides direct compensation and
      copyright protection for the person that asks the question and for the
      person that answers the question.Reponse is a service utilized to ask and
      answer questions. We encourage everyone to utilize the "question" space
      for asking and the "answer" space for answering. It's as simple as that.
      Ask questions and receive points. Answer questions and receive points. The
      points earned can be exchanged for Reponse crypto currency. All questions
      and answers will utilize blockchain technology deeming the content
      copyright and therefore cannot be changed.
    </p>
    <h2 class="title-xlarge">Give us your feedback!</h2>
    <p>
      Dear Guest, we look forward to hearing feedback from you.<br />
      Please send us a message below
    </p>
    <form>
      <div class="about-form-group">
        <input
          type="email"
          class="about-form-control"
          style="width: 360px;"
          placeholder="Email"
        />
      </div>
      <div class="about-form-group">
        <textarea
          class="about-form-control"
          placeholder="Your message"
          style="height: 200px;width:360px;"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
      <!-- dev: 비활성화 시 -->
      <button type="submit" class="btn btn-primary" disabled>Send</button>
    </form>
  </div>
</section>
{% include 'footer.html' %}
