{% include 'header.html' %}
<section class="content">
  <div class="page-about container-medium center">
    <ul class="tab-area list-unstyled clearfix">
      <li class="tab-xlarge"><a href="/service/help/">Help</a></li>
      <li class="tab-xlarge"><a href="/service/faq/" class="active">FAQ</a></li>
    </ul>
    <h2 class="title-xsmall">What is Réponse?</h2>
    <p class="text-answer">
      Réponse is a web based QnA service based on the Blockchain platform. Not
      only can you ask questions that you are curious about, but also answer
      questions that others have asked at Réponse. You receive points depending
      on the answers you have provided. You can switch the points
      (cryptocurrency) you earn to money. All answers and content on our
      Blockchain platform will be copyrighted and the ability to to change and
      abuse will not be allowed.
    </p>
    <h2 class="title-xsmall">What types of questions can be asked?</h2>
    <p class="text-answer">
      Any and all questions can be asked. However, before asking your question
      we recommend that you first check to see if a similar question has already
      been asked within the community at Reponse. You can search the question by
      title or tags through the search function.
    </p>
    <h2 class="title-xsmall">What types of questions should be avoided?</h2>
    <p class="text-answer">
      Questions deemed to be controversial or too subjective should be avoided.
    </p>
    <h2 class="title-xsmall">What types of answers should be avoided?</h2>
    <p class="text-answer">
      Réponse is not a discussion service but a QnA service. We do not recommend
      disputable answers because too much discussion tends to dilute the essence
      of a QnA service. This is why controversial questions should be avoided.
    </p>
    <h2 class="title-xsmall">Who moderates this community?</h2>
    <p class="text-answer">
      You. The community is arbitrated by Users. The Reponse point system allows
      Users to earn rights to perform a variety of arbitration tasks. (Our point
      system grants Users the rights to perform a variety of arbitration tasks.)
    </p>
    <h2 class="title-xsmall">How does our point system work?</h2>
    <p class="text-answer">
      When a question or answer is upvoted by other Users, the User who posted
      the question or answer will gain points according to the predetermined
      point table. The sum of the points will be regarded as a standard to show
      the reliability of the Users. Various moderation tasks are gradually
      assigned to the Users based on the points accumulated.For example, if an
      interesting question or a helpful answer is posted by Users, the posted
      question or answer will be upvoted by other Users. The point table below
      shows the scale of reliability.<br />
      Upvote 100<br /><br />

      Gold Badge 30,000<br /><br />

      Silver Badge 10,000<br /><br />

      Bronze badge 5,000<br />
      <br />

      Accept own answer Setting Point<br /><br />
    </p>
    <h2 class="title-xsmall">
      How and when the points can be changed to currency coins?
    </h2>
    <p class="text-answer">
      The minimum number of points required is 30,000 points. The minimum number
      of points is required to exchange the points to currency tokens.
      Additionally, 3 answers must be posted and the User must login for more
      than 10 days. The ability to exchange points to currency tokens will not
      be allowed if any of the aforementioned conditions are not met.If the
      conditions are met, Go to “my page” and use “exchange function” to change
      points to currency coin.p>/t
    </p>
    <h2 class="title-xsmall">Does the reponse service guide provide video?</h2>
    <p class="text-answer">
      Yes. There is. Please refer to the url below.<br /><br />

      Menu guide<br /><br />

      Mypage guide
    </p>
    <h2 class="title-xsmall">What is the value of points?</h2>
    <p class="text-answer">
      The value of the Réponse community point is 1,000 points = $1 = 20 Res
      coin. Upon listing on cryptocurrency exchanges, we will try to keep the
      value “1,000 points = $1 = 20 Res Coin as an alternative against currency
      volatility.
    </p>
    <h2 class="title-xsmall">
      When will Res Coin commence trading on cryptocurrency exchanges?
    </h2>
    <p class="text-answer">
      It is expected that Res tokens will be listed in 3 or 4 Q of 2018.
      Currently under negotiation with four potential cryptocurrency exchanges.
    </p>
    <h2 class="title-xsmall">
      Do I need to create a new account for registration purposes?
    </h2>
    <p class="text-answer">
      No, you don’t have to. You can log in through any service that supports
      OpenID (e.g. Google, Facebook, and so on. "log in now!"
    </p>
    <h2 class="title-xsmall">Still have questions?</h2>
    <p class="text-answer">
      Please ask your question, help make our community better!<br /><br />

      1 9 FLATPAGES FORUM_HELP_EN Welcome, Thank you for using Réponse, here is
      how it works.
    </p>
    <h2 class="title-xsmall">
      How the question, answer, and comments work at Réponse?
    </h2>
    <p class="text-answer">
      Réponse is a web based QnA service built on a blockchain platform. Not
      only can you ask questions that you are curious about, but also answer
      questions that others have asked at Réponse. You earn points depending on
      the answers you have provided. You can exchange the points
      (cryptocurrency) to money. All the answers and content on the Reponse
      blockchain platform will be protected by copyright. Hence the answers and
      content cannot be altered or changed.<br /><br />

      Search before asking your questions<br />
      Type your question in the search bar and see whether a similar question
      has been asked previously.<br /><br />

      Search options are as follows:<br /><br />

      to search in title - enter [title: your text]<br />
      to search by tags - enter [tag: sometag] or #sometag<br />
      to search by user - enter [user: somename] or @somename or @"some name"<br />
      In addition, it is possible to click on tags to add them to the search
      query.<br /><br />

      Important!!! All search terms which are combined with a logical “AND”
      expression can help narrow the search scope by adding new terms..
    </p>
    <h2 class="title-xsmall">How does the point system work?</h2>
    <p class="text-answer">
      When a question or answer is upvoted by other Users, the User who posted
      the question or answer will gain points according to the predetermined
      point table. The sum of the points will be regarded as a standard to show
      the reliability of the Users. Various moderation tasks are gradually
      assigned to the Users based on the points accumulated.For example, if an
      interesting question or a helpful answer is posted by Users, the posted
      question or answer will be upvoted by other Users. The point table below
      shows the scale of reliability.<br /><br />

      Upvote 100<br /><br />

      Gold Badge 30,000<br /><br />

      Silver Badge 10,000<br /><br />

      Bronze badge 5,000<br /><br />

      Accept own answer Setting Point
    </p>
    <h2 class="title-xsmall">
      How and when the points can be changed to currency coins?
    </h2>
    <p class="text-answer">
      The minimum number of points required is 30,000 points. The minimum number
      of points is required to exchange the points to currency tokens.
      Additionally, 3 answers must be posted and the User must login for more
      than 10 days. The ability to exchange points to currency tokens will not
      be allowed if any of the aforementioned conditions are not met.If the
      conditions are met, Go to “my page” and use “exchange function” to change
      points to currency coin..
    </p>
    <h2 class="title-xsmall">Does the reponse service guide provide video?</h2>
    <p class="text-answer">
      Yes. There is. Please refer to the url below.<br /><br />

      Menu guide<br /><br />

      Mypage guide
    </p>
    <h2 class="title-xsmall">What is the value of points?</h2>
    <p class="text-answer">
      The value of the Réponse community point is 1,000 points = $1 = 20 Res
      coin. Upon listing on cryptocurrency exchanges, we will try to keep the
      value “1,000 points = $1 = 20 Res Coin as an alternative against currency
      volatility.
    </p>
    <h2 class="title-xsmall">
      When will Res Coin commence trading on cryptocurrency exchanges?
    </h2>
    <p class="text-answer">
      It is expected that Res tokens will be listed in 3 or 4 Q of 2018.
      Currently under negotiation with four potential cryptocurrency
      exchanges.<br /><br />

      Voting<br />
      Voting in Réponse helps select best answers and encourage most helpful
      Users in posting more valuable answers. Every upvote gives 10 points to
      both the person that asks the question and the person that asks the
      question. Vote, vote, vote, and then vote somemore to build a strong and
      reliable Réponse community.Do not neglect to vote for good answers.<br /><br />

      Other topics<br />
      You can @mention users anywhere in the text to point their attention,
      follow users and conversations and report inappropriate content by
      flagging it.<br /><br />

      Enjoy.
    </p>
  </div>
</section>
{% include 'footer.html' %}
