{% include 'header.html' %}
<section class="content">
  <div class="page-about container-medium center">
    <ul class="tab-area list-unstyled clearfix">
      <li class="tab-xlarge"><a href="/service/help/" class="active">Help</a></li>
      <li class="tab-xlarge"><a href="/service/faq/">FAQ</a></li>
    </ul>
    <h2 class="title-xsmall">
      How the question, answer, and comments work at Réponse?
    </h2>
    <p class="text-answer">
      Réponse is a web based QnA service built on a blockchain platform. Not
      only can you ask questions that you are curious about, but also answer
      questions that others have asked at Réponse. You earn points depending on
      the answers you have provided. You can exchange the points
      (cryptocurrency) to money. All the answers and content on the Reponse
      blockchain platform will be protected by copyright. Hence the answers and
      content cannot be altered or changed.
    </p>
    <h2 class="title-xsmall">Search before asking your questions</h2>
    <p class="text-answer">
      Type your question in the search bar and see whether a similar question
      has been asked previously.<br /><br />

      Search options are as follows:<br /><br />

      to search in title - enter [title: your text]<br />
      to search by tags - enter [tag: sometag] or #sometag<br />
      to search by user - enter [user: somename] or @somename or @"some name"<br />
      In addition, it is possible to click on tags to add them to the search
      query.<br /><br />

      Important!!! All search terms which are combined with a logical “AND”
      expression can help narrow the search scope by adding new terms..
    </p>
    <h2 class="title-xsmall">How does the point system work?</h2>
    <p class="text-answer">
      When a question or answer is upvoted by other Users, the User who posted
      the question or answer will gain points according to the predetermined
      point table. The sum of the points will be regarded as a standard to show
      the reliability of the Users. Various moderation tasks are gradually
      assigned to the Users based on the points accumulated.For example, if an
      interesting question or a helpful answer is posted by Users, the posted
      question or answer will be upvoted by other Users. The point table below
      shows the scale of reliability.<br /><br />

      Upvote 100<br /><br />

      Gold Badge 30,000<br /><br />

      Silver Badge 10,000<br /><br />

      Bronze badge 5,000<br /><br />

      Accept own answer Setting Point
    </p>
  </div>
</section>
{% include 'footer.html' %}
