
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.5.0/css/all.min.css" />
  <link rel="stylesheet" href="../../static/css/style.css" />
  <title></title>
</head>

<body>
  <div id="root">
    <header class="header-default">
      <div class="container-xlarge">
        <h1 class="logo">
          <a href="/">
            <img src="../../static/images/logo.svg" alt="Reponse" />
          </a>
        </h1>
        <nav class="header-nav container-medium">
          <ul class="list-nav list-unstyled">
            <li class="active"><a href=""> Home </a></li>
            <li><a href=""> Unanswered </a></li>
            <li>
              <a href=""> Notification </a>
              <ul class="popover-box notification-box list-unstyled">
                <li>
                  <a href="" class="clearfix">
                    <span class="user-img float-left"> <img src="" alt="" /> </span>
                    <div class="user-info-box float-left">
                      <span class="name">John Roberson</span>
                      <span class="user-activity">answered a your question</span>
                      <span class="time">1m ago</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="" class="clearfix">
                    <span class="user-img float-left"> <img src="" alt="" /> </span>
                    <div class="user-info-box float-left">
                      <span class="name">John Roberson</span>
                      <span class="user-activity">shared your question.</span>
                      <span class="time">5m ago</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="" class="clearfix">
                    <span class="user-img float-left"> <img src="" alt="" /> </span>
                    <div class="user-info-box float-left">
                      <span class="name">John Roberson</span>
                      <span class="user-activity">commented : Great question. The best marketing for start ups is
                        social media. Just make sure your have your niche market. I hope this
                        helps.</span>
                      <span class="time">1m ago</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="" class="clearfix">
                    <span class="user-img float-left"> <img src="" alt="" /> </span>
                    <div class="user-info-box float-left">
                      <span class="name">John Roberson</span>
                      <span class="user-activity">answered a your question</span>
                      <span class="time">1m ago</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="" class="clearfix">
                    <span class="user-img float-left"> <img src="" alt="" /> </span>
                    <div class="user-info-box float-left">
                      <span class="name">John Roberson</span>
                      <span class="user-activity">shared your question.</span>
                      <span class="time">5m ago</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="util">
          <div class="search">
            <button type="button" class="btn-none">
              <img src="../../static/images/icon-navi-search.svg" alt="검색" />
            </button>
          </div>
          <!-- 로그인 전 START -->
          <ul class="signin list-unstyled">
            <li><a href=""> Login </a></li>
            <li><a href=""> Sign up </a></li>
          </ul>
          <!-- // 로그인 전 END -->
          <!--
              로그인 후
              <div class="my-menu">
                <img src="" alt="">
              </div>
            -->
          <div class="add-question">
            <a href=""> <span class="icon"></span> Add question </a>
          </div>
        </div>
      </div>
    </header>

    
<section class="content container-xlarge center clearfix">
  <aside class="aside-topics">
    <ul class="list-unstyled">
      <li><a href="" class="active"> Feed </a></li>
      <li>
        <a href=""> IT </a>
        <ul class="list-unstyled">
          <li><a href="" class="active">Startup</a></li>
          <li><a href="">Engineer</a></li>
          <li><a href="">Mobile</a></li>
          <li><a href="">Job</a></li>
        </ul>
      </li>
      <li><a href=""> Life </a></li>
      <li><a href=""> Travel </a></li>
      <li><a href=""> Relationship </a></li>
      <li><a href=""> Tech </a></li>
      <li><a href=""> Relationship </a></li>
      <li><a href=""> Money </a></li>
      <li><a href=""> Health </a></li>
      <li><a href=""> Game </a></li>
    </ul>
  </aside>
  <div class="container-medium float-left">
    <div class="main-title-box">
      <h3 class="title-xlarge">Feed</h3>
      <ul class="tab-alignment list-unstyled">
        <li><a href="" class="active">All</a></li>
        <li><a href="">Hot</a></li>
        <li><a href="">New</a></li>
        <li><a href="">High point</a></li>
      </ul>
    </div>
    <div class="clearfix">
      <div class="mini-profile-box">
        <div class="user-img"><img src="" /></div>
        <div class="profile">
          <div class="name">John Roberson</div>
          <div class="data">3839 Karma</div>
        </div>
      </div>
    </div>
    <p class="feed-welcome">
      Hello, John!<br />
      What is your question?
    </p>
    <article class="user-question-box">
      <a href="">
        <div class="topic">IT . Tech</div>
        <div class="clearfix">
          <div class="user-text-photo-box">
            <p class="title-medium">
              Is there any reason to believe Tesla when they claim they will be
              profitable later this year when their quarterly losses continue to
              rise blockchain?
            </p>
            <div class="mini-profile-box">
              <div class="user-img"><img src="" /></div>
              <div class="profile">
                <div class="name">John Roberson</div>
                <div class="data">3839 Karma</div>
              </div>
            </div>
          </div>
          <img src="" alt="" class="photo" />
        </div>
        <ul class="reaction-box list-unstyled clearfix">
          <li><span class="reaction-item point">4000.00</span></li>
          <li><span class="reaction-item comment">24</span></li>
        </ul>
      </a>
    </article>
    <div class="user-suggestion">
      <a class="btn-left-box disabled" href="#" tabindex="-1">
        <span class="sr-only">Previous</span>
      </a>
      <div class="user-suggestion-items">
        <div class="user-suggestion-item">
          <div class="user-img"><img src="" alt="" /></div>
          <div class="profile">
            <div class="name ellipsis">Tim brown</div>
            <div class="data ellipsis">Experty in Investment</div>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary btn-follow"
            >
              Follow
            </button>
          </div>
        </div>
        <div class="user-suggestion-item">
          <div class="user-img"><img src="" alt="" /></div>
          <div class="profile">
            <div class="name ellipsis">Tim brown</div>
            <div class="data ellipsis">Experty in Investment</div>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary btn-follow"
            >
              Follow
            </button>
          </div>
        </div>
        <div class="user-suggestion-item">
          <div class="user-img"><img src="" alt="" /></div>
          <div class="profile">
            <div class="name ellipsis">Tim brown</div>
            <div class="data ellipsis">Experty in Investment</div>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary btn-follow"
            >
              Follow
            </button>
          </div>
        </div>
        <div class="user-suggestion-item">
          <div class="user-img"><img src="" alt="" /></div>
          <div class="profile">
            <div class="name ellipsis">Tim brown</div>
            <div class="data ellipsis">Experty in Investment</div>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary btn-follow"
            >
              Follow
            </button>
          </div>
        </div>
        <div class="user-suggestion-item">
          <div class="user-img"><img src="" alt="" /></div>
          <div class="profile">
            <div class="name ellipsis">Marius Kramer</div>
            <div class="data ellipsis">Experty in Investment</div>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary btn-follow"
            >
              Follow
            </button>
          </div>
        </div>
      </div>
      <a class="btn-right-box" href="#"> <span class="sr-only">Next</span> </a>
    </div>
    <article class="user-question-box">
      <a href="">
        <div class="topic">Travel . abroad</div>
        <div class="clearfix">
          <div class="user-text-box">
            <p class="title-medium">
              If Blockchain don’t take off again before November should
              investors sell and stay away?
            </p>
            <div class="mini-profile-box">
              <div class="user-img"><img src="" /></div>
              <div class="profile">
                <div class="name">John Roberson</div>
                <div class="data">3839 Karma</div>
              </div>
            </div>
          </div>
        </div>
        <ul class="reaction-box list-unstyled clearfix">
          <li><span class="reaction-item point">4000.00</span></li>
          <li><span class="reaction-item comment">24</span></li>
        </ul>
      </a>
    </article>
    <article class="user-question-box">
      <a href="">
        <div class="topic">Travel . abroad</div>
        <div class="clearfix">
          <div class="user-text-box">
            <p class="title-medium">Blockchain can change the world?</p>
            <div class="mini-profile-box">
              <div class="user-img"><img src="" /></div>
              <div class="profile">
                <div class="name">John Roberson</div>
                <div class="data">3839 Karma</div>
              </div>
            </div>
          </div>
        </div>
        <ul class="reaction-box list-unstyled clearfix">
          <li><span class="reaction-item point">4000.00</span></li>
          <li><span class="reaction-item comment">24</span></li>
        </ul>
      </a>
    </article>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="btn-left-box disabled" href="#" tabindex="-1">
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
        <li class="page-item"><a class="page-link" href="#">9</a></li>
        <li class="page-item"><a class="page-link" href="#">10</a></li>
        <li class="page-item">
          <a class="btn-right-box" href="#">
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>


    <footer class="footer-default">
      <div class="container-xlarge center">
        <div class="footer-inner">
          <div class="footer-logo">
            <img src="../../static/images/logo.svg" alt="Reponse" />
          </div>
          <nav class="footer-nav">
            <ul class="list-unstyled">
              <li><a href="">About</a></li>
              <li><a href="">Help</a></li>
              <li><a href="">Terms of Service</a></li>
              <li><a href="">Privacy Policy</a></li>
            </ul>
          </nav>
          <ul class="social-media list-unstyled">
            <li><a href="">blog</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Medium</a></li>
            <li><a href="">Linkedin</a></li>
          </ul>
        </div>
        <div class="copyright">
          Powered by PWNNY CORP. 2018. Content on this site is licensed under
          a Creative Commons Attribution Share Alike 3.0 license.
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
